<div class="container">
  <div class="row">
    <div class="" col-xs-12 col-md-6 col-md-offset-3>
      <h3>CRUD Operations on User Posts Data Table</h3>
      <hr />
      <h4 *ngIf="loadedUsers.length < 1" class="text-danger">
        No users available !
        <hr />
      </h4>

      <div *ngIf="loadedUsers.length >= 1">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Post title</th>
              <th scope="col">Post body</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of loadedUsers
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <th scope="row">{{ user.id }}</th>
              <td title="{{ user.title }}">
                {{
                  user.title.length > 50
                    ? (user.title | slice: 0:50) + "..."
                    : user.title
                }}
              </td>
              <td title="{{ user.body }}">
                {{
                  user.body.length > 50
                    ? (user.body | slice: 0:50) + "..."
                    : user.body
                }}
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <div id="pagination" class="center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <form
    #userForm="ngForm"
    (ngSubmit)="
      editMode ? onUpdateUser(userForm.value) : onAddUser(userForm.value)
    "
    *ngIf="addUserFlag || editMode"
  >
    <div class="form-group">
      <label> User ID: </label>
      <input
        type="text"
        class="form-control"
        id="id"
        required
        name="id"
        ngModel
      />
    </div>
    <div class="form-group">
      <label> Post title: </label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        name="title"
        ngModel
      />
    </div>
    <div class="form-group">
      <label> Post body: </label>
      <textarea
        type="text"
        class="form-control"
        id="body"
        required
        name="body"
        ngModel
      ></textarea>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">
      {{ editMode ? "Update" : "Add" }}
    </button>
    |
    <button class="btn btn-danger" type="cancel" (click)="onCancel()">
      Cancel
    </button>
    <hr />
    <hr />
  </form>
  <form #deleteForm="ngForm" *ngIf="deleteUserFlag">
    <div class="form-group">
      <label> Enter the User ID to be deleted: </label>
      <input
        type="number"
        class="form-control"
        id="id"
        required
        name="id"
        ngModel
      />
    </div>
    <button
      class="btn btn-primary"
      [disabled]="!deleteForm.valid"
      (click)="onDeleteUser(deleteForm.value)"
    >
      Delete User
    </button>
    |
    <button class="btn btn-danger" type="cancel" (click)="onCancel()">
      Cancel
    </button>
    <hr />
  </form>

  <div col-xs-12 col-md-6 col-md-offset-3 class="center">
    <button class="btn btn-success" type="button" (click)="onAddUserForm()">
      Add User
    </button>
    |
    <button class="btn btn-primary" type="button" (click)="editMode = true">
      Edit User
    </button>
    |
    <button class="btn btn-primary" type="button" (click)="onFetchUsers()">
      Fetch User
    </button>
    |
    <button class="btn btn-danger" type="button" (click)="onDeleteUserForm()">
      Delete User
    </button>
    |
    <button class="btn btn-danger" type="button" (click)="onDeleteAllUsers()">
      Delete All Users
    </button>
  </div>
</div>
